a:hover {
    text-decoration: none;
}

footer {
    background: #293037;
    color: #cbcbcb;
    padding: 15px 10px;
    text-align: center;
}

footer div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


h2, h2 a {
    color: #676767;
}

h3 {
    color: #a2a2a2;
}

header {
    width: 100%;
    background: white;
}

nav ul {
    padding: 0;
}

nav.navbar {
    margin-bottom: 0;
}

nav.navbar-default {
    background: #00abff;
    border: none;
}

P {
    color: #bcbcbc;
}

.navbar-default .navbar-toggle {
    background: #0078b3;
    border-color: #0078b3;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #1073b3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    background: #0078b3;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #04a3ed;
}

.navbar-default .navbar-nav {
    margin-top: 0;
    margin-bottom: 0px;
    border-bottom: none;
}

.navbar-collapse {
    border-top: 0;
}

#slider-home, #slider-home .carousel-inner, #slider-home .carousel-inner .item, #slider-home .carousel-inner .item img {
    min-height: 140px;
}

#slider-home .carousel-inner .item {
    margin: auto;
}

.carousel-inner .item .carousel-caption {
    left: 0;
    width: 100%;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    min-width: 100%;
}

.slide-title {
    background: rgba(0, 0, 0, .25);
    padding: 20px 0;
    text-align: center;
}

h3.slide-title {
    position: relative;
    top: -15px;
}

.slide-description {
    display: none;
}

.advises-section {
    background-color: #04a3ed;
    padding: 20px;
    width: 100%;
}

.advise-title, .advise-link, .advise-link:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.advise-link {
    background: #353f47;
    padding: 10px 20px;
    border-radius: .5em;
    border: 2px solid #282f35;
    float: right;
    margin-top: -12.5px;
}

.advise-link:hover {
    background: #282f35;
}

.img-circle {
    width: 160px;
    height: 160px;
    border: 2px solid rgba(16, 167, 238, 0.67);
}

.centered {
    text-align: center;
}

.tool-description{
    max-width:400px;
}

.tools-section .container .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tools-section .container .row h2 {
    padding-bottom: 20px;
}

#bottom-section, #bottom-section h3, #bottom-section h4, #bottom-section p{
    background: #0097d6;
    color: #fff;
    padding: 0;
}

nav ul li, nav ul {
    padding: 0;
    /*background: #00abff;
    border-bottom: 1.5px solid black;
    color: #fff;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 48px;
    list-style: none;
    width: 100%;*/
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 767px) {

    nav.navbar-default {
        border-bottom: 3px solid #04a3ed;
    }

    .navbar-default .navbar-nav > li > a {
        background: none;
        line-height: 20px;

    }

    .img-circle {
        width: 200px;
        height: 200px;
        border: 4px solid rgba(16, 167, 238, 0.4);
    }


    /*
        nav ul li {
            width: 25%;
        }*/
    footer div#copyright {
        text-align: left;
        width: 60%;
    }

    footer div#developer {
        text-align: right;
        width: 39%;
    }

}

@media screen and (min-width: 950px) {
    .img-circle {
        width: 250px;
        height: 250px;
        border: 4px solid rgba(16, 167, 238, 0.4);
    }
}