body {
    background: red;
}

footer {
    background: black;
}

footer div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

footer div#copyright {
    background: blue;
}

footer div#developer {
    background: brown;
}

header {
    width: 100%;
    background: white;
}

nav ul {
    padding: 0;
}

nav.navbar {
    margin-bottom: 0;
}

nav.navbar-default {
    background: #00abff;
    border: none;
}

.navbar-default .navbar-toggle {
    background: #0078b3;
    border-color: #0078b3;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #1073b3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    background: #0078b3;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #04a3ed;
    color: #fff;
}

.navbar-default .navbar-nav {
    margin-top: 0;
    margin-bottom: 0px;
    border-bottom: none;
}

.navbar-collapse {
    border-top: 0;
}

#slider-home, #slider-home .carousel-inner, #slider-home .carousel-inner .item, #slider-home .carousel-inner .item img{
    min-height:140px;
}

#slider-home .carousel-inner .item{
    margin: auto;
}

.carousel-inner .item .carousel-caption{
    left:0;
    margin-top:-103px !important;
    width: 100%;

}

.slide-title{
    background: rgba(0,0,0,.25);
    padding: 20px 0;
    text-align: center;

}

.slide-description{
    display: none;
}

nav ul li, nav ul {
    padding: 0;
    /*background: #00abff;
    border-bottom: 1.5px solid black;
    color: #fff;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 48px;
    list-style: none;
    width: 100%;*/
}

@media screen and (min-width: 480px) {
    body {
        background: green;
    }
}

@media screen and (min-width: 767px) {
    body {
        background: yellow;
    }

    nav.navbar-default {
        border-bottom: 3px solid #04a3ed;
    }

    .navbar-default .navbar-nav > li > a {
        background: none;
        line-height: 20px;

    }

    /*
        nav ul li {
            width: 25%;
        }*/
    footer div#copyright {
        width: 60%;
    }

    footer div#developer {
        width: 39%;
    }

}

@media screen and (min-width: 950px) {
    body {
        background: orange;
    }
}